/**
 * @license
 * MyFonts Webfont Build ID 3069918, 2015-08-03T23:14:13-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BurfordRusticBookUltraLight by Kimmy Design
 * URL: http://www.myfonts.com/fonts/kimmy/burford-rustic/ultra-light/
 * Copyright: Copyright (c) 2014 by Kimmy Design. All rights reserved.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3069918
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ed7de");

  
@font-face {font-family: 'BurfordRusticBookUltraLight';src: url('/themes/gisfish/webfonts/2ED7DE_0_0.eot');src: url('/themes/gisfish/webfonts/2ED7DE_0_0.eot?#iefix') format('embedded-opentype'),url('/themes/gisfish/webfonts/2ED7DE_0_0.woff2') format('woff2'),url('/themes/gisfish/webfonts/2ED7DE_0_0.woff') format('woff'),url('/themes/gisfish/webfonts/2ED7DE_0_0.ttf') format('truetype');}
 