@black-5: darken(#fff, 10%);

.hide-text() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// New mixin to use as of v3.0.1
.text-hide() {
  .hide-text();
}

.img-responsive {
  width: 100%;
  box-sizing: border-box;
}